// Assign
.assign_player{
    text-align:center;
    padding: 45% 0;
    height: 100vh;

    img{
        width: 60px;
        margin: 0 10px 0 0;
    }
    h3{
        line-height: 2.5;
        margin-bottom: 30px;
        text-align: left;
        font-size: 2em;
    }
    h4{ text-align:center; }
}