.LastGameFigures{
    
    padding: 0px 30px 30px;
    margin: 0px !important;

    .section-header{
        padding-bottom: 0 !important;
        margin: 20px 0 0 0 !important;

        h1{ 
            font-size: .7em;
            line-height: 1em;
            text-align: center;
        }
    }
    .section-subheader{
        h3{ 
            font-size: .9em !important;
            margin: 5px 5px 20px;
            text-align: center;
            color: $bodyBlack;
        }
    }

    h3{ 
        text-align: center; 
        color: $bodyWhite;
        font-size: 1.4em; 
    }
   
    h4{
        text-align: center; 
        color: $bodyWhite; 
        font-size: 1em;
    }
    
    .carousel{ 
        .slide{
            background-color: transparent;
        }
    }
}