
// Content
.InfoBadge{
    border:1px $tone2;
    background-color: $tone2;
    @include  border-radius(10px);
    margin: -42px 10% 20px;
    z-index: 99;
    position: relative;
    padding: 12px 20px;
    text-align: center;
    color:$bodyWhite;
    font-size: 1.3em;
}


.world_Ranking_Emoticons{
    margin: 20px -20px 40px;
    text-align: center;

    h3{
        margin: 5px 0 0 ;
        font-size: 1.5em;
    }
    h4{    margin: 0 0 5px;
        font-size: 1em;}
    .Emoticon{
        font-size:3em;
    }
}


.download_Scorecard{
    h1{ }

    h2{
        font-size: 1.8em;
        line-height: 1em;

        i{
            font-size: 2em;
            float: left;
            margin: 1px 9px 30px 0;
        }
    }

    p{
        margin: 20px 0 0;
        text-align: center;
    }
}


    .Top_Teams{
        text-align: center;
        margin: 0 0 20px 0;
    }
    .MyTopTeam{
        span{
                font-size: 2.5em;
                color:$bodyWhite;
            }
        h1{
            margin: 5px 0;
            font-size: 1.8em;
            line-height: 1em;
        }
        h2{
            font-size: 1.2em;
            margin: 0;
        }   
    }
    .MySupportTeam{
        span{
            font-size: 2em;
            color:$bodyBlack;
        }
        h1{
            margin: 5px 0 10px;
            font-size: 1.3em;
            line-height: 1em;
        }
        h2{
            font-size: 1em;
            margin: 0;
        }   
    }

.LastGameFigures{
    
    padding: 0px 30px 30px;
    margin: 0px !important;

    .section-header{
        padding-bottom: 0 !important;
        h1{
            color:$bodyWhite !important;
            font-size: 1em;
        }
    }
    .section-subheader{
        h3{ 
            font-size: 1em !important;
            margin: 5px 5px 10px;
        }
    }

    h2{
        color:$bodyWhite;
        text-align: center;
        line-height: 1.3em;
        font-size: 1.5em;
        margin: 0 0 5px;
    }
   
    h4{
        color:$bodyWhite;
        text-align: center;
        margin: 0;
        line-height: 1em;
        font-size: .9em;
    }
    
    .carousel{ 
        .slide{
            background-color: transparent;
        }
    }
}


.Goal{
    margin: 10px 0 50px;
    // border-bottom: .5px solid #b7b7b7;

    h1{
        font-size: 1.3em;
    }
    h3{
        margin: 0 3% 0 0;
        text-align: right;
    }
    p{ 
        text-align: center;
        margin: 0px 0 25px;
        font-size: .8em;
    }
}