



// Content
.InfoBadge{
    border:1px $tone2;
    background-color: $tone2;
    @include  border-radius(10px);
    margin: -42px 10% 20px;
    z-index: 99;
    position: relative;
    padding: 12px 20px;
    text-align: center;
    color:$bodyWhite;
    font-size: 1.3em;
}


.download_Scorecard{
    h1{ }

    h2{
        line-height: 1em;

        i{
            font-size: 2em;
            float: left;
            margin: 1px 9px 30px 0;
        }
    }

    p{
        margin: 20px 0 0;
        text-align: center;
    }
}




.Goal{
    margin: 10px 0 50px;
    // border-bottom: .5px solid #b7b7b7;
    h3{
        font-size: 1.2em;
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    h4{
        line-height: 1.2em;
        font-size: 1.2em;
        text-align: right;
        text-transform: lowercase;
        
        span{ font-size: .8em;}
    }

    p{ 
        text-align: center;
        margin: 0px 0 25px;
        font-size: .8em;
    }
}