/* Login */
/* STATTO Overwrites to the main theme */

#statto-app{
.login{
    color: $bodyWhite;
    height:100vh;
    background: -webkit-linear-gradient(to bottom, #e7fbfd, #88acd8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e7fbfd, #88acd8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   

    .login-header{
        padding: 110px 15px 0;
        color: $bodyWhite;

        .logo{ }

        h1{
            margin: 0;
            font-size: 2.5em;
            line-height: 1.8em;
            font-weight: 100;
            color:$bodyBlack;

        }
        h2{
            margin: 0;
            font-size: .9em;
            line-height: 1.3em;
            font-weight: 100;
            text-transform: uppercase;
            color:$bodyBlack;
        }
    }


    /* Login Content */


    .login-content{
        width: 90%;
        clear: both;
        margin-top: 10px;
        display: inline-block;
        margin: 10px 5% 20px;

        .darkWrapper{  
            margin: 5px -20px 10px;
            box-shadow: none;
            background-color: $tone1;
        }
        
        h3{
            color: $bodyBlack;
            margin: 6px 0 0;
            display: block;
            text-align: center;
            font-size: 1.3em;
            line-height: 2em;
            float: none;
 
            small{ color: $bodyBlack; }
        }

        .login-wr-container{
            margin: 0 10%;
            width: 80%;
            padding: 10px 0%;

            .wr_at_a_glance{
                
                .fa{color: $bodyWhite;  }
                > .fa:nth-child(1){
                    font-size: 2.2em;
                    float: left;
                   
                }

                span{
                    font-size: .9em;
                    color: $bodyWhite;
                    margin: 0 0 0 10px;
                    line-height: 29px;
                    display: inline-block;
                    float: left;
                }
            }
        }
        .login_btn{
                font-size: 17px;
                margin: 14px 0px;     
        }
    }
}
}


/* ********************************************************************************** */
/* Media Querys */
/* ********************************************************************************** */

/* ********************************************************* */
/* Ipad/Tablets * ***************************** */
/* ********************************************************* */



/* iPad pro (portrait) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
	/* Home page Podcast Items */
    #app{
        #page-container{
            .login {
                padding: 20% 0 0 0;
                margin: 0;
            }
        }
    }

}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {
	/* Home page Podcast Items */
    #app{
        #page-container{
            .login {
                padding: 5% 0 0 0;
                margin: 0;  

                .login-content{
                    width: 100%;
                    clear: both;
                    margin-top: 10px;
                    display: inline-block;
                    margin: 40px 0% 20px;
                    background-color: white;
                    padding: 50px 15%; 

                    .darkWrapper{
                        background-color: transparent;
                        display: flex;
    
                        .login-wr-container{ 
                            .wr_at_a_glance{ 
                                .fa {
                                    color:$bodyBlack;
                                    font-size: 2.8em !important;
                                    display: inline-block;
                                    float: none;
                                    text-align: center;
                                    width: 100%;
                                    margin-bottom: 20px;
                                }
                                span{
                                    color:$bodyBlack;
                                    font-size: 2.2em !important;
                                    display: inline-block;
                                    float: none;
                                    text-align: center;
                                    width: 100%;
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
	/* End Home Page */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
#app{
    #page-container{
        .login {
            .login-content{
                .darkWrapper{
                    background-color: transparent;
                    display: flex;

                    .login-wr-container{ 
                        .wr_at_a_glance{ 
                            .fa {
                                color:$bodyBlack;
                                font-size: 2.8em !important;
                                display: inline-block;
                                float: none;
                                text-align: center;
                                width: 100%;
                                margin-bottom: 20px;
                            }
                            span{
                                color:$bodyBlack;
                                font-size: 2.2em !important;
                                display: inline-block;
                                float: none;
                                text-align: center;
                                width: 100%;
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
#app{
    #page-container{
        .login {
            padding: 5% 0 0 0;
            margin: 0;

            .login-content{
                width: 100%;
                clear: both;
                margin-top: 10px;
                display: inline-block;
                margin: 20px 0% 20px;
                background-color: white;
                padding: 50px 15%; 
            }
        }
    }
}


}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */	
    #app{
        #page-container{
            .login {
                padding: 15% 0;

                .login-content{
                    width: 100%;
                    clear: both;
                    margin-top: 10px;
                    display: inline-block;
                    margin: 40px 0% 20px;
                    background-color: white;
                    padding: 50px 15%; 
                }
            }
        }
    }
}

/* ********************************************************* */
/* Large Smart Phones * ***************************** */
/* ********************************************************* */


/* Catch ALL Phone Devices (portrait and landscape) ----------- */ 
@media only screen and (max-device-width: 736px) {		
	/* Styles */

    #app{
        #page-container{
            .login {
                
                .login-content{  
                        .reg-notification{
                            text-align: center;
                        }

                        .login-wr-container{
                            margin: 7px 5%;
                            width: 90%;
                            padding: 10px 0%;
                            display: inline-block;
                            
                            .wr_at_a_glance{
                                color: #999; 
                                .fa{ }
                                > .fa:nth-child(1){
                                    font-size: 1.8em;
                                   
                                }
                                span{
                                    font-size: .9em;
                                    margin: 0 0 0 5px;
                                    line-height: 23px;
                                }
                            }
                        }
                    }

                .login-header {
                    padding: 0;
                    margin-left: 0;
                    position: static;
                    padding: 120px 15px 0;
                    
                    .icon{display: none;}
                    .brand{
                        text-align: center;
                    }
                }
            }
        }
    }
} 



@media only screen and (max-device-width: 736px)and 
	(orientation: portrait) {

}


@media only screen and (max-device-width: 736px)and 
(orientation: landscape) {

    #app{ 
        #page-container{ 
            .login{ 
                .login-header{
                    padding: 30px 15px 0px;
                }
                .login-content {
                   
                    p.m-t-20{ display: none;}
                }
            }
        }
    }
}






/* iphone 6 plus (portrait and landscape) ----------- */
@media only screen and 
	(max-device-width: 736px) and 
	(min-device-width: 414px) and 
	(orientation: portrait){
	/* Styles */

}

@media only screen and 
	(max-device-width: 736px) and 
	(min-device-width: 414px) and 
	(orientation: landscape){
	/* Styles */
	
}


/* iphone 6 (portrait and landscape) ----------- */
@media only screen and 
	(min-device-width: 375px) and 
	(max-device-width: 667px) and (orientation: portrait)
	{
	/* Styles */


}


@media only screen and 
	(min-device-width: 375px) and 
	(max-device-width: 667px) and (orientation: landscape)
	{
	/* Styles */


}
/* ********************************************************* */
/* Smart Phones * ***************************** */
/* ********************************************************* */




/* Smartphones (landscape) ----------- */
@media only screen 
and (min-device-width : 320px)
and (max-device-height : 568px)
 and (orientation: portrait){
	/* Styles */

}

@media only screen and 
	(min-device-width: 320px) and 
	(max-device-width: 568px) and (orientation: landscape){
	/* Styles */

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */

}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width  : 412px) and (orientation: portrait){
/* Styles */

		

}
@media only screen 
and (max-device-width  : 412px) and (orientation: landscape){
	/* Styles */

}

@media only screen 
and (max-device-width  : 360px) and (orientation: portrait){
	/* Styles */

}

@media only screen 
and (max-device-width  : 360px) and (orientation: landscape){
	
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}