
button.btn.btn-success, a.btn.btn-success{
    background: $tone3;
    border-color: $tone3;
    color:$bodyWhite;
}

button.btn.btn-warning{
    background: $tone2;
    border-color: $tone2;
    color:$bodyWhite;
}


.forceUpdate{
    background-color:$tone3;
    margin:10px 0;
}