
button.btn.btn-success, a.btn.btn-success{
    background: $tone3;
    border-color: $tone3;
    color:$bodyWhite;
}

button.btn.btn-warning{
    background: $tone2;
    border-color: $tone2;
    color:$bodyWhite;
}

.forceUpdate{
    background-color:$tone3;
    margin:10px 0;
}

.btn-statto{
    @include border-radius(3px);
    background-color: $tone3;
    margin: 25px 5% 0px;
    text-align: center;
    padding: 10px;
   a{
       color: $bodyWhite;
       i{
        color: $bodyWhite;
        vertical-align: middle;
        display: inline-block;
       }
       p{
           margin: 0 10px;
           display: inline-block;
           vertical-align: middle;
           color: $bodyWhite;
       }
   }
}