/* Header & content  elements */

// Small Content Pods with HZ Rule

.row{
.contentpod-item{
    padding: 0px !important;
  
    .card_active{
        background-color: $bodyBlack !important;

        .Contentpod-Header{ 
            h4{ color: $bodyWhite;}
            p.value{  color: $bodyWhite;}
        }
    }

    >div{
        @include content-pod-basic();
        //@include border-radius(3px);

            .Contentpod-Header{
                
                padding: 5px !important;

                > div{
                    padding: 0 !important;
                    width: 100%;
                }
            
                .cardIcon{
                    font-size: 2.6em;
                    float: left;
                    margin: -9px 10px 0 0;
                }
            h4{
                color:$bodyBlack;
                font-size: 1.2em;
                margin: 0 0 3px;
                font-weight: 100;
                float: left;
                font-family: $body_font_family;
            }
            p.value{
                font-size: 1.2em;
                font-weight: 100;
                margin: 0;
                text-align: right;
                font-family: $body_font_family;
            }
            p.sub{
                font-size: .8em;
                text-align: right;}
            

            hr{
                margin: 0px 0 5px;
                background-color: $tone2;
                height: 1px;
                border: none;
                border-radius: 2px;
            }
            }
    }

    .content_list{
        .Expandable_Chart{
            margin: -20px 0 25px;
        }

        .List-Of-Games{
            clear: both;
            margin: 2px -15px;
            padding: 7px;
            background-color: $tone1 !important;
            color: #fff;
            i{
                margin-top: -1px;
            }
            i.tone3{
                color:#fff;
            }
        }
    }
}



.contentpod-item.gradient{ div{ p.sub{
    padding: 2px 10px;
    border-radius: 3px;
    color:$bodyBlack;
}}}
.contentpod-item.gradient_10{ div{ p.sub{@include percentage_gradient($tone3,0%,10%);}}}
.contentpod-item.gradient_20{ div{ p.sub{@include percentage_gradient($tone3,0%,20%);}}}
.contentpod-item.gradient_30{ div{ p.sub{@include percentage_gradient($tone3,0%,40%);}}}
.contentpod-item.gradient_40{ div{ p.sub{@include percentage_gradient($tone1,0%,50%);}}}
.contentpod-item.gradient_50{ div{ p.sub{@include percentage_gradient($tone1,10%,60%);}}}
.contentpod-item.gradient_60{ div{ p.sub{@include percentage_gradient($tone1,20%,70%);}}}
.contentpod-item.gradient_70{ div{p.sub{@include percentage_gradient($tone1,40%,80%);}}}
.contentpod-item.gradient_80{ div{p.sub{@include percentage_gradient($tone1,60%,90%);}}}
.contentpod-item.gradient_90{ div{ p.sub{@include percentage_gradient($tone4,80%,100%);}}}
.contentpod-item.gradient_100{ div{ p.sub{@include percentage_gradient($tone4,100%,100%);}}}


}


.Goals{
    .goal{
        i{ display:none;}
        
        .Contentpod-Header{
            h4{ font-size: 1.1em !important;}
            p.value{ font-size: 1em; clear:both; line-height: 2.5em;}
        }
    }
}



/* Last 10 games listed on dashboard */
.row{
    .recent-game-item{

            @include content-pod-basic();
            @include border-radius(3px);
            margin: 5px 0;

        div{
            
            div.game-header{
                text-align: center;
                h4{
                    color:$bodyBlack;
                    font-size: 1.6em;
                    margin: 0 0 7px;
                    font-weight: 100;
                }

                h5{
                    color: $tone2;
                    font-size: .9em;
                    font-weight: 100;
                    margin:0 0 10px 0;
                
                }
            }
        
            div.info{
                text-align: right;
                font-size: 1.1em;
                line-height: 1.3em;
                padding: 0 10px;
                color:$bodyBlack;
            }
        }
    }
}