/* Header & content  elements */

// Small Content Pods with HZ Rule

.row{
.contentpod-item{
    padding: 0px !important;
  
    .card_active{
        background-color: $bodyBlack !important;

        .Contentpod-Header{ 
            h4{ color: $bodyWhite;}
            p.value{  color: $bodyWhite;}
        }
        p.sub{
            color:$bodyWhite;
        }
    }

    >div{
        @include content-pod-basic();
        //@include border-radius(3px);

            .Contentpod-Header{
                
                padding: 5px !important;

                > div{
                    padding: 0 !important;
                    width: 100%;
                }
            
                .cardIcon{
                    font-size: 2.6em;
                    float: left;
                    margin: -9px 10px 0 0;
                }
            h4{
                float: left;
            }
            h4.value{
                font-size: 1.2em;
                margin: 0;
                float: right;
                color: $tone1;
            }
            p.sub{
                font-size: .8em;
                text-align: right;}
            

            hr{
                margin: 0px 0 5px !important;
                background-color: $tone2;
                height: 1px;
                border: none;
                clear: both;
                border-radius: 2px;
            }
            }
    }

    .content_list{
        .Expandable_Chart{
            margin: -20px 0 25px;
        }
        .List-Of-Games{
            clear: both;
            margin: 2px -15px;
            padding: 7px;
            background-color: $tone1 !important;
            color: #fff;
            i{
                margin-top: -1px;
            }
            i.tone3{
                color:#fff;
            }
            
        }
    }
    .Close_Expand{
        float: right;
        margin: -4px -10px 10px 0 !important;
        min-width: 20px !important;
    }

    
    .Expandable_Click_through{
        @include border-radius(3px);
         background-color: $tone3;
         margin: 10px 0 20px;
         text-align: center;
        a{
            color: $bodyWhite;
            button{
                color: $bodyWhite !important;
                min-width: 35px !important;
            }
        }
    }
}

}


/* List Player History */
.row{
    .recent-game-item{

            //@include content-pod-basic();
           // @include border-radius(3px);
            
            margin: 5px 0 20px 0;
            border-bottom: .5px solid #b7b7b7;
            padding: 10px 10px 15px;
 
            div.game-header{
                text-align: center;
               
                h3{
                    text-align: center;
                    margin: 0 0 7px;
                    font-weight: 600;
                    line-height: 1.2em;
                }

                h4{
                    color: $tone2;
                    font-size: .9em;
                    font-weight: 100;
                    margin:0 0 10px 0;
                    text-align: center;
                
                }
            }
        
            div.info{
                text-align: center;
                font-size: 1.2em;
                line-height: 1.3em;
                padding: 0 10px;

                span{
                    font-size: .6em;
                    text-transform: uppercase;
                }
            }
    }
}