/* Header & header elements */

#header{
    padding: 10px 10px 0;
    position: fixed;
    top: 0;
    z-index: 9;

    h2{
        color: $bodyWhite;
        font-size: 1.1em;
        margin: 0 0 0 30px;
        line-height: 1.6em;
        small{
            color: $bodyWhite;
            font-size: .7em;
        }
    }
    h3{
        margin: 2px 0 0;
        font-size: .8em;
        text-transform: uppercase;
        color: $bodyWhite;
    }

    .filteractive{
        font-size: 1em;
        margin: 0;
        padding: 0;
        color: $tone3;

        i{
            font-size: 1em;
        }
    }

}