ul.list{
    margin:0;
    padding:0;
    list-style: none;

    li{
        border-bottom:1px solid $tone1;
        padding: 3px 10px;
        p{
            color:$bodyBlack;
            margin: 0;
            line-height: 1.5em;
            font-size: 1em;
        }
    }
}


#Notable{
    margin: 20px 0 0 0;
    
    li{
        font-weight: 600;
        .score{
            font-size: 1.3em;
        }
    }
}


 ul.list.noborder{
    padding: 10px 0;
    li{
        border: none;
    }
}


.ListItem{
    @include content-pod-basic();
    @include border-radius(3px);
    font-family:$body_font_family;
        button{ display: none !important;}
        h4{
            font-size: 1.3em;
            margin: 0 10px 10px 0;
            color: #383838;
            font-family:$body_font_family;
            border-bottom: .5px solid;
            padding: 0 0 8px 0;

            span{
                text-align: RIGHT;
                float: RIGHT;
                font-size: .8em;
                line-height: 1.3em;
                color:$tone1;
                i{
                    float: left;
                    margin-top: -2px;
                    margin-right: 3px;
                }
            }
        
    }   
   
    .Secondary{
        font-family:$body_font_family;
        display:block !important;
        color:white !important;
        font-Size: .9em !important;
       line-Height: 20px !important;
       height:auto !important;
       margin: 2px -10px !important;
    }
}

.List-Of-Teams-Header{
    @include border-radius(3px);
    font-family:$body_font_family !important;
    background-color: $bodyBlack !important;
}

.List-Of-Games{   
        font-family:$body_font_family !important; background-color: #f1f1f1 !important; @include border-radius(3px); 
            
        i{  
            float: right;
            margin-top: -5px;
        }
}

#following_list{li{
    line-height: 2.7;

    .Remove_Player_From_Favs{ 
        min-width: unset !important;

            span{ display: none;}
            span.fa{display: block;}
        }
    
        .View_player_profile{ span{ padding-left:0 !important;}}

    .AddPlayer_to_Favs{
        min-width: unset !important;
        color: $tone3 !important;
        span{ display: none;}
        span.fa{display: block;}
    }
}}
