/* Mixins */

@mixin content-pod-basic(){
            background:$ContentPodBG;
            color:$tone1;
            padding: 5px;
            margin: 5px 0; 
            font-weight: 100;
            -moz-box-shadow:   0px 0px 6px 1px #ccc;
            -webkit-box-shadow: 0px 0px 6px 1px #ccc;
            box-shadow:         0px 0px 6px 1px #ccc;
  }

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($shadow){
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin opacity($opacity){
    opacity: $opacity;
}
@mixin transition($transition){
    -webkit-transition: $transition;
       -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}
@mixin animation($animation){
    -webkit-animation: $animation;
       -moz-animation: $animation;
            animation: $animation;
}

@mixin percentage_gradient($color, $percentStart, $percentFinish){
    background: $color; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color, transparent); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color $percentStart, transparent $percentFinish); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*
@mixin generate-button-styling ($buttonClassName, $buttonTextColor, $defaultColor, $hoverColor, $btnGroupBorderColor )
{
    .btn.${buttonClassName} {
        color: $buttonTextColor;
        background: $defaultColor;
        border-color: $defaultColor;
        
        &:hover, 
        &:focus, 
        &:active, 
        &:active:focus,
        &.focus,
        &.active,
        &.active.focus, 
        &.active:focus, 
        &.active:hover, 
        &:active.focus, 
        &:active:focus, 
        &:active:hover {
            background: $hoverColor;
            border-color: $hoverColor;
        }
    }
    .open > .dropdown-toggle.${buttonClassName},
    .open > .dropdown-toggle.${buttonClassName}.focus, 
    .open > .dropdown-toggle.${buttonClassName}:focus, 
    .open > .dropdown-toggle.${buttonClassName}:hover  {
        background: $hoverColor;
        border-color: $hoverColor;
    }
    .btn.${buttonClassName}.disabled, 
    .btn.${buttonClassName}[disabled], 
    fieldset[disabled] .btn${buttonClassName},
    .btn.${buttonClassName}.active,
    .btn.${buttonClassName}.active.focus, 
    .btn.${buttonClassName}.active:hover,
    .btn.${buttonClassName}.active:focus,
    .btn.${buttonClassName}:active:focus, 
    .btn.${buttonClassName}:active:hover {
        border-color: $btnGroupBorderColor;
    }
    .btn-group .btn.${buttonClassName}:not(.active) + .btn.${buttonClassName},
    .input-group-btn .btn.${buttonClassName}:not(.active) + .btn.${buttonClassName} {
        border-left-color: $btnGroupBorderColor;
    }
}*/