
@import '_variable';
@import '_mixins';
/*Pages*/
@import  './pages/_page_login.scss';
@import  './pages/_page_scorecard.scss';
@import  './pages/_page_career.scss';
@import  './pages/_page_dashboard.scss';
@import './pages/_News.scss';
@import '_form_guide';
@import './pages/desktop_Message.scss';

/* Widgets*/
@import './widget/statto_widgets';
@import './widget/HomePage-RecentGame-Rotator';
@import './widget/World_ranking_homepage';
@import './widget/Assign-Player';
@import './widget/Top-Teams';
@import './widget/modal';
@import '_buttons';
@import '_list';
@import '_filter';
@import '_content_pod';

/*Components*/
@import '_header';
@import 'Navigation'; 
@import '_content';


html {
    background-color:$tone1;
    body{
        //font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-family :$body_font_family;
        font-weight:200;
        /*  background: #355C7D;  /* fallback for old browsers */
        /*  background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
        /*background-size: cover;
        background-attachment: fixed;
    */
        
    h1,h2,h3,h4{
        color: $bodyBlack;
        text-transform:capitalize;
        margin: 0;
        padding: 0;
    }

    h1{
            font-family: $body_font_semibold;
            font-size: 1.7em;
            line-height: 1.7em;
            
        }
    h2{
            font-family: $body_font_semibold;
            font-size: 1.5em;
            line-height: 1.7em;
        }
    h3{
            font-family: $body_font_family;
            font-weight: 800;
            font-size: 1.5em;
            line-height: 1.5em;
        }
    h4{
            font-family: $body_font_family;
            font-weight: 800;
            font-size: 1.3em;
            line-height: 1.3em;
    }
    p{
            font-size: 1.3em;
            line-height: 1.3em;
            font-family :$body_font_family;
            color: $bodyBlack;
    }

    
        .tone1{ color: $tone1;}
        .tone2{ color: $tone2;}
        .tone3{ color: $tone3;}
        .tone4{ color: $tone4;}
        .white{ color: $bodyWhite;}
        .black{ color: $bodyBlack;}

        

        .darkWrapper{
            @include content-pod-basic(); 
            margin: 5px -10px 10px ;

            h1{
             /*   margin: 7px 0 0 !important;
                text-align: right;
                font-size: 1em !important;
                border-bottom: .5px solid $bodyBlack;
                padding-bottom: 10px;
                color: $bodyBlack;*/
            }
            h3{
                text-align: right;
                margin: 4px 0 0 0 !important;
                line-height: 1.4em;
                color: $bodyBlack !important;
            }
        }

        .lightWrapper{
            @include content-pod-basic(); 
            background-color: $tone4Opacity;
            margin: 5px -10px 10px ;

            h1{
               /* margin: 7px 0 0 !important;
                text-align: right;
                font-size: 1em !important;
                border-bottom: .5px solid $bodyWhite;
                padding-bottom: 10px;
                color: $bodyBlack;*/
            }
            
        }
       
    }


    // Margins Classes
    .mt20{margin-top: 20px !important;}
}

#statto-app{
    
    background-image: url($BGTexture);
    min-height: 100vh;


    .nopadding{ padding:0;}
    .nomargin{ margin:0;}
    .margin20{ margin-left: -19px; margin-right: -19px; }

    hr{
        border-color: #b7b7b7;
        margin-top: 40px;
        margin-bottom:40px;
    }
    .text-right{ text-align: right;}
    .go_back{ float: left; margin: 0 5px 0 -5px ;}
    
    .go_to{ float: left; margin: 0 5px 0 -5px ; 
        a{

           text-align: center;
            display: inline;
            font-size: 1em;
            line-height: .5em;
            margin-bottom: 0;
            color: $tone4;
            i{
                font-size: 2.5em;
                float: right;
            }
            p{ }
        }
        
    }

    
}


.StattoTabs{
   > div{background-color:$bodyBlack !important;}
}

.StattoTab{
    background-color: white;
    color: black;
}


